.asterisk{
  color: var(--clr-accent);
  cursor: pointer;
}

h2{
  display: inline-block;
}

.disclaimer{
  font-size: 0.7rem;
  font-style: italic;
  display: inline;
  word-break: break-word;
  vertical-align: top;
  user-select: none;
  color: var(--clr-dark);
  opacity: 0%;
  transition: opacity 0.2s ease-in-out;
}

.disclaimer.visible{
  opacity: 100%;
}