.asterisk{
  color: var(--clr-accent);
  cursor: pointer;
}

h1{
  display: inline;
  margin-right: 5px !important;
  padding: 5px 0px;
}

h2{
  display: inline;
}

.disclaimer{
  font-size: 0.7rem;
  font-style: italic;
  display: inline;
  word-break: break-word;
  vertical-align: top;
  user-select: none;
  color: var(--clr-dark);
  opacity: 0%;
  transition: opacity 0.2s ease-in-out;
}

.disclaimer.visible{
  opacity: 100%;
}

.socials{
  display: inline;
}